.container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    padding-bottom: 5px;
    margin: 0 auto;
    width: 92%;
    transition: all 450ms linear;
    align-items: center;
    border-bottom: 1px solid #33333338;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
}

.links {
    position: relative;
    top: 10px;
}

.whiteLogo, .blackLogo {
    transition: all 300ms linear;
}

.whiteLogo {
    opacity: 1;
}

.blackLogo {
    opacity: 0;
    position: absolute;
    margin-left: 15px;
}

.line{
    width: 30px;
    height: 3px;
    margin-top: 5px;
    border-radius: 10px;
    transform: all 300ms linear;
    position: relative;
    background: var(--blue);
}

.links ul{
    display: flex;
    list-style: none;
}

.links ul li {
    margin: 0px 20px;
    font-size: 1.15rem;
    cursor: pointer;
    color: #3333337a;
    display: flex;
    flex-direction: column;
}

.links ul li svg {
    display: none;
}

.button {
    background: var(--blue);
    color: white !important;
    padding: 15px 20px;
    border-radius: 35px;
    font-size: 1rem !important;
    position: relative;
    top: -15px;
}

.active {
    color: black !important;
}

.active svg {
    display: block !important;
}

.mobileContainer {
    width: 100%;
    position: relative;
    background: var(--blue);
    color: white;
    z-index: 999;
    height: 0px;
    overflow: hidden;
    transition: all 300ms linear;
}

.mobileContainer ul {
    list-style: none;
    font-size: 1.6rem;
    position: relative;
    margin-right: 20px;
    text-align: right;
}

.mobileContainer ul li{
    margin-top: 20px;
}

.connectBanner {
    position: relative;
    background: #0085C6;
    padding: 15px 0px;
    width: 100%;
    cursor: pointer;
    margin-top: 50px;
}

.connectBanner p {
    color: white;
    width: fit-content;
    margin: 0 auto;
    font-size: 1.2rem;
}

.imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.navImage {
    width: 220px;
    height: 220px;
}

@media only screen and (max-width: 1050px) {
    .container {
        width: 100% !important;
    }
}


@media only screen and (max-width: 825px) {
    .links {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    /* ... */
    /* .logo {
        display: none;
    }

    .blackLogo{
        display: block;
    }

    .container {
        background: var(--blue);
    } */
}