.footer {
    width: 100%;
    padding: 30px 70px 20px 70px;
    background: var(--blue);
    display: flex;
    flex-direction: row;
    position: relative;
    top: 50px;
    align-items: center;
    justify-content: space-between;
}

.footer div:nth-child(1) p {
    color: rgba(255, 255, 255, 0.76);
    position: relative;
    top: -10px;
}

.footerLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
}

@media only screen and (max-width: 700px){
    .footer {
        padding: 30px 50px 20px 50px;
    }
}

@media only screen and (max-width: 565px){
    .footer {
        flex-direction: column;
        align-items: center;
        padding: 30px 50px 10px 50px;
        text-align: center;
    }

    .footerLinks {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-top: 130px;
    }
    .footerLinks a:nth-child(2) {
        margin-top: 30px;
    }

    .footerCopyright {
        position: relative;
        margin-top: 180px;
    }
}