@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
:root{
  --blue: #09ADEE;
}

@font-face {
  font-family: "Marguerite";
  src: url("/marguerite.ttf");
  font-style: normal;
  font-display: swap;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6{
  color: #333333;
}