.nfts, .lines, .section, .sectionOne, .sectionTwo, .sectionThree, .illustration, .sectionFour, .animationWrapper {
    display: none !important;
}

.splashInner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.splashInner img{
    animation: splash 1300ms 1 linear forwards;
}

@keyframes splash{
    0%{
        opacity: 0.1;
    }
    10%{
        opacity: 0.2;
    }
    20%{
        opacity: 0.3;
    }
    30%{
        opacity: 0.4;
    }
    40%{
        opacity: 0.5;
    }
    50%{
        opacity: 0.6;
    }
    60%{
        opacity: 0.7;
    }
    70%{
        opacity: 0.8;
    }
    80%{
        opacity: 0.85;
    }
    90%{
        opacity: 0.9;
    }
    100%{
        opacity: 1;
    }
}

.container {
    display: none;
}

.upperContainer {
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    background-image: url("/background.png");
    background-position: center;
    background-size: cover;
}

.hero {
    max-width: 1240px;
    margin: 0 auto;
    position: relative;
    top: 50px;
    grid-column-gap: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: flex-end;
}

.hero .right {
    margin-right: 30px;
}

.hero .right .rightMobile {
    display: none !important;
}

.hero .left h1{
    font-size: 3.7rem;
    color: #333333;
    width: 500px;
    line-height: 80px;
}

.hero .left h1 span {
    color: var(--blue);
    font-family: "Marguerite" !important;
    font-weight: 300 !important;
}

.hero .left p{
    color: #33333396;
}

.info {
    display: flex;
    position: relative;
    top: 50px;
}

.info div:nth-child(2){
    margin-left: 50px;
}

.info div p{
    color: #111111 !important;
}

.info div h2{
    color: var(--blue);
    margin-top: -10px;
    font-size: 2.3rem;
}

.banner {
    width: 100%;
    color: white;
    background: var(--blue);
}

.bannerContent {
    display: grid;
    max-width: 1240px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
}

.bannerText {
    padding-top: 30px;
    font-size: 1.1rem;
    font-weight: 300; 
    color: white;
}

.bannerText p{
    color: white;
}

.bannerText p:nth-child(1){
    transform: rotate(-5deg);
    font-size: 2rem;
    position: relative;
    left: -100px;
    top: -20px;
}

.bannerText svg {
    position: relative;
    margin: 0 15px;
    transform: rotate(5deg);
    top: 20px;
}

.leftImage{
    position: relative;
    top: 4px;
    left: 40px;
}

.leftImage::before{
    content: "";
    background: #ffffff4b;
    width: 550px;
    height: 550px;
    position: absolute;
    border-radius: 50%;
    margin-top: 60px;
    overflow: hidden;
    margin-left: -50px;
}

.bannerImage {
    position: relative;
    left: 50px;
}

.bannerText p:nth-child(2){
    margin-top: 20px;
    font-weight: 500;
    font-size: 1.5rem;
}

.bannerText p span {
    padding: 50px 30px;
    background: #3EC6FC;
    border-radius: 50%;
    width: fit-content;
    text-align: center;
    cursor: pointer;
    position: absolute;
    display: block;
    margin-top: 10px;
    margin-left: 370px;
}

.nfts {
    max-width: 1240px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    position: relative;
    grid-column-gap: 50px;
    top: 150px;
}

.nftsText h1{
    color: #59ACEA;
    font-size: 1.7rem;
}

.nftsText h1 span {
    color: #333333;
    font-size: 2.7rem;
    margin-right: 15px;
    font-family: "Marguerite" !important;
    font-weight: 400 !important;
}

.nftsText p{
    color: #333333be;
}

.nftsCarousel {
    width: 600px;
}

.card{
    width: 260px !important;
    height: 350px;
    border-radius: 20px;
    padding: 0 10px;
    margin: 0 20px;
    border-bottom: 1.5px solid #33333349;
}

.card p:nth-child(2){
    color: #333333a8;
}

.nextArrow {
    background: var(--blue);
    width: fit-content;
    padding: 23px 30px;
    border-radius: 50%;
    position: relative;
    left: 500px;
    top: -180px;
}

.lines{
    width: 100%;   
}

.line {
    width: 100%;
}

.line:nth-child(2){
    position: relative;
    top: -270px;
    z-index: -1;
}

.section {
    position: relative;
    top: -180px;
    margin: 0 auto;
    width: 1240px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.texts h1 {
    font-size: 3rem;
    color: #333333;
}

.sectionTwo {
    display: flex;
    flex-direction: column;
    width: 1024px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    position: relative;
    top: -150px;
}

.sectionTwo svg {
    margin-bottom: 50px;
}

.sectionTwo .cta {
    margin-top: 50px;
    font-size: 1.5rem;
    color: var(--blue);
    font-weight: 600;
    cursor: pointer;
    z-index: 999;
    text-decoration: underline;
}

.sectionTwo .cta::before {
    content: "ENTER ONLYFRANS";
    position: absolute;
    color: var(--blue);
    margin-top: 15px;
    font-size: 1.5rem;
    filter: blur(8px);
    z-index: -1;
}

.illustration {
    position: relative;
    top: -280px;
}

.animationWrapper {
    width: 100%;
    height: 200px;
    background: var(--blue);
    position: absolute;
    margin-top: -285px;
    overflow: hidden;
}

.neededWrapper {
    transform: rotate(-10deg);
    position: relative;
    margin-top: -10px;
}

.inner, .innerTwo {
    display: flex;
    position: relative;
    top: -100px;
    width: 100%;
}

.frog {
    width: 260px !important;
    height: 200px;
    margin: 0 20px;
    position: relative;
}


.first{
    animation: bannermove 5s linear infinite backwards alternate-reverse;
}

.innerTwo {
    top: -80px;
}

.second{
    animation: bannermove 6s linear infinite backwards alternate-reverse;
}

@keyframes bannermove {
    0% {margin-left: 0px;}
    100% {margin-left: -2100px;}
}

.sectionThree {
    margin: 50px auto;
    display: grid;
    width: 1240px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    padding-bottom: 70px;
    border-bottom: 1px solid #33333350;
}

.sectionFour {
    margin: 50px auto;
    display: grid;
    width: 1240px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    align-items: center;
}

.sectionFour div h1 {
    font-weight: 600;
    font-size: 2.5rem;
}

.sectionFour div h1 span{
    color: var(--blue);
    font-weight: 400;
    font-family: "Marguerite" !important;
}

.contact {
    display: flex;
    display: flex;
    justify-content: flex-end;
}


/* RESPONSIVE */

@media only screen and (max-width: 1280px){
    .hero {
        width: 100%;
        padding: 0 30px;
        grid-column-gap: 50px;
    }
    
    .hero .right img {
        width: 400px;
        height: 550px;
    }

    .bannerContent {
        width: 100%;
        padding: 0 30px;
        grid-template-columns: 1fr 1fr;
    }

    .bannerImage{
        left: 0px;
    }

    .leftImage {
        left: 0px;
    }
}

@media only screen and (max-width: 1230px){
    .leftImage {
        grid-area: image;
    }

    .bannerText {
        grid-area: text;
    }

    .bannerContent {
        grid-template-columns: 1fr;
        grid-row-gap: 50px;
        grid-template-areas: 
        "text"
        "image"
        ;
    }

    .bannerText p:nth-child(1){
        transform: rotate(-5deg);
        font-size: 2rem;
        position: relative;
        left: 0px;
        top: -50px;
    }

    .bannerText p span {
        padding: 50px 30px;
        background: #3EC6FC;
        border-radius: 50%;
        width: fit-content;
        text-align: center;
        cursor: pointer;
        position: absolute;
        display: block;
        margin-top: -390px;
        margin-left: 0px;
    }
    
}

@media only screen and (max-width: 1050px){
  .hero .left h1{
      font-size: 3rem;
      width: 430px;
      line-height: 70px;
  }
}

@media only screen and (max-width: 900px){
    .hero{
        grid-row-gap: 50px;
        grid-template-columns: 1fr;
        justify-items: flex-start;
    }
    .hero .right img {
        width: 420px;
        height: 600px;
    }
}

@media only screen and (max-width: 700px){
    .bannerText p:nth-child(1){
        transform: rotate(-5deg);
        font-size: 2rem;
        position: relative;
        left: 0px;
        top: -20px;
    }

    .upperContainer {
        padding-bottom: 150px;
    }

    .leftImage::before {
        margin-top: 0px;
        margin-left: -120px;
    }

    .leftImage {
        left: -10px;
    }

    .bannerImage {
        width: 450px;
        height: 400px;
    }
}

@media only screen and (max-width: 500px){
    .hero, .bannerContent{
        padding: 0 20px;
    }
    .hero .right .rightDesktop {
        display: none !important;
    }
    .hero .right .rightMobile {
        display: block !important;
        width: 325px;
        height: 680px;
    }

    .bannerText p:nth-child(1) {
        top: -10px;
        font-size: 1.5rem;
    }

    .bannerText p:nth-child(1) svg {
        width: 150px;
        height: 70px;
    }

    .bannerText p span {
        margin-top: -440px;
    }

    .leftImage::before {
        margin-top: 0px;
        margin-left: -120px;
        width: 450px;
        height: 455px;
    }

    .bannerImage {
        width: 350px;
        height: 350px;
    }
}

@media only screen and (max-width: 450px){
    .hero .left h1{
        width: 280px;
    }

    .hero .left h1 span {
        margin-right: 15px;
    }
}

@media only screen and (max-width: 380px){
    .hero .right .rightMobile {
        width: 280px;
        height: 620px;
    }

    .hero .left p:nth-child(2) {
        width: 260px;
    }

    .leftImage::before {
        margin-top: -10px;
        margin-left: -170px;
    }

    .leftImage {
        left: -10px;
    }

    .bannerImage {
        width: 290px;
        height: 310px;
    }
}
