.container {
  
}

.upperContainer {
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    background-image: url("/background.png");
    background-position: center;
    background-size: cover;
}

.hero {
    max-width: 1240px;
    margin: 0 auto;
    position: relative;
    top: 50px;
    grid-column-gap: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hero .left h1{
    font-size: 3.7rem;
    color: #333333;
}

.hero .left h1 span {
    color: var(--blue);
    
}

.hero .left p{
    color: #33333396;
}

.info {
    display: flex;
    position: relative;
    top: 50px;
}

.info div:nth-child(2){
    margin-left: 50px;
}

.info div p{
    color: #333333;
}

.info div h2{
    color: var(--blue);
    margin-top: -10px;
    font-size: 2.3rem;
}

.banner {
    width: 100%;
    color: white;
    background: var(--blue);
}

.bannerContent {
    display: grid;
    max-width: 1240px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
}

.bannerText {
    padding-top: 30px;
    font-size: 1.1rem;
    font-weight: 300; 
}

.bannerText p:nth-child(1){
    transform: rotate(-5deg);
    font-size: 2rem;
    position: relative;
    left: -100px;
    top: -20px;
}

.bannerText svg {
    position: relative;
    margin: 0 15px;
    transform: rotate(5deg);
    top: 20px;
}

.leftImage{
    position: relative;
    top: 4px;
}

.bannerText p:nth-child(2){
    margin-top: 20px;
    font-weight: 500;
    font-size: 1.5rem;
}