.upperContainer {
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    background-image: url("/background.png");
    background-position: center;
    background-size: cover;
}

.hero {
    max-width: 1240px;
    margin: 0 auto;
    position: relative;
    top: 50px;
    grid-column-gap: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hero .left h1{
    font-size: 3.7rem;
    color: #333333;
    line-height: 80px;
}

.hero .left h1 span {
    color: var(--blue);
    font-family: "Marguerite" !important;
    font-weight: 300 !important;
}

.hero .left p{
    color: #33333396;
}

.info {
    display: flex;
    position: relative;
    top: 50px;
}

.info div:nth-child(2){
    margin-left: 50px;
}

.info div p{
    color: #111111 !important;
}

.info div h2{
    color: var(--blue);
    margin-top: -10px;
    font-size: 2.3rem;
}

.banner {
    width: 100%;
    color: white;
    background: var(--blue);
}

.bannerContent {
    display: grid;
    max-width: 1240px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
}

.bannerText {
    padding-top: 30px;
    font-size: 1.1rem;
    font-weight: 300; 
    color: white;
}

.bannerText p{
    color: white;
}

.bannerText p:nth-child(1){
    transform: rotate(-5deg);
    font-size: 2rem;
    position: relative;
    left: -100px;
    top: -20px;
}

.bannerText svg {
    position: relative;
    margin: 0 15px;
    transform: rotate(5deg);
    top: 20px;
}

.leftImage{
    position: relative;
    top: 4px;
}

.leftImage::before{
    content: "";
    background: #ffffff4b;
    width: 550px;
    height: 550px;
    position: absolute;
    border-radius: 50%;
    margin-top: 60px;
    overflow: hidden;
    margin-left: -50px;
}

.bannerText p:nth-child(2){
    margin-top: 20px;
    font-weight: 500;
    font-size: 1.5rem;
}

.bannerCta {
    padding: 50px 30px;
    background: #3EC6FC;
    border-radius: 50%;
    width: fit-content;
    text-align: center;
    cursor: pointer;
    position: absolute;
    margin-left: 400px;
}

.nfts {
    max-width: 1240px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    position: relative;
    grid-column-gap: 50px;
    top: 150px;
}

.nftsText h1{
    color: #59ACEA;
    font-size: 1.7rem;
}

.nftsText h1 span {
    color: #333333;
    font-size: 2.7rem;
    margin-right: 15px;
    font-family: "Marguerite" !important;
    font-weight: 400 !important;
}

.nftsText p{
    color: #333333be;
}

.nftsCarousel {
    width: 600px;
}

.card{
    width: 260px !important;
    height: 350px;
    border-radius: 20px;
    padding: 0 10px;
    margin: 0 20px;
    border-bottom: 1.5px solid #33333349;
}

.card p:nth-child(2){
    color: #333333a8;
}

.nextArrow {
    background: var(--blue);
    width: fit-content;
    padding: 23px 30px;
    border-radius: 50%;
    position: relative;
    left: 500px;
    top: -180px;
}

.lines{
    width: 100%;   
}

.line {
    width: 100%;
}

.line:nth-child(2){
    position: relative;
    top: -270px;
    z-index: -1;
}

.section {
    position: relative;
    top: -180px;
    margin: 0 auto;
    width: 1240px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.texts h1 {
    font-size: 3rem;
    color: #333333;
}

.sectionTwo {
    display: flex;
    flex-direction: column;
    width: 1024px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    position: relative;
    top: -150px;
}

.sectionTwo svg {
    margin-bottom: 50px;
}

.sectionTwo .cta {
    margin-top: 50px;
    font-size: 1.5rem;
    color: var(--blue);
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
}

.sectionTwo .cta::before {
    content: "ENTER ONLYFRANS";
    position: absolute;
    color: var(--blue);
    margin-top: 15px;
    font-size: 1.5rem;
    filter: blur(8px);
    z-index: -1;
}

.illustration {
    position: relative;
    top: -280px;
}

.animationWrapper {
    width: 100%;
    height: 250px;
    background: var(--blue);
    position: relative;
    top: -285px;
    overflow: hidden;
}

.inner {
    display: flex;
    transform: rotate(-10deg);
    position: relative;
    top: -100px;
}

.frog {
    width: 260px !important;
    height: 200px;
    margin: 0 20px;
}

.inner .frog:nth-child(1){
    animation: bannermove 7s linear infinite forwards alternate-reverse;
}

.innerTwo {
    display: flex;
    transform: rotate(-10deg);
    position: relative;
    top: -80px;
}

.innerTwo .frog:nth-child(1){
    animation: bannermove 6s linear infinite backwards alternate-reverse;
    animation-play-state: running;
}

@keyframes bannermove {
    0% {margin-left: 0px;}
    100% {margin-left: -2130px;}
}